<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	Welcome to the TODO application.
	<ul>
		<li th:each="todo: ${todos}">
			<span th:text="${todo.assignee}"></span>:
			<span th:text="${todo.description}"></span>
		</li>
	</ul>
	
	<form th:action="@{/todo}" th:object="${newTodo}" method="post">
		Description: <input th:field="*{description}"/> <br/>
		Assignee: <input th:field="*{assignee}"/> <br/>
		<input type="submit" value="Create"/>
	</form>
</body>
</html>